<div class="container-fluid">
  <div class="row p-3">
    <div class="col-3">
      <h4 class="ml-n3">Calculate my speeds</h4>
      <div class="row">
        <form [formGroup]="memoryForm">
          <div class="input-group mb-3">
            <div class="input-group-append">
              <span class="input-group-text">My memory runs at</span>
            </div>
            <input formControlName="speed" type="text" class="form-control" placeholder="Enter Memory Speed"/>
            <select formControlName="speedType" class="custom-select">
              <option value="MT/s">MT/s</option>
              <option value="MHz">MHz</option>
            </select>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-append">
              <span class="input-group-text">My memory type is</span>
            </div>
            <select formControlName="memoryType" class="custom-select">
              <option value="DDR">DDR* (System)</option>
              <option value="GDDR">GDDR* (Graphicscard)</option>
              <option value="HBM">HBM</option>
            </select>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-append">
              <span class="input-group-text">My channel width is</span>
            </div>
            <input formControlName="channelWidth" type="text" class="form-control" placeholder="Enter Channel Width" value="64">
            <div class="input-group-append">
              <span class="input-group-text">bits</span>
            </div>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-append">
              <span class="input-group-text">My memory runs in</span>
            </div>
            <input formControlName="channelNumber" type="text" value="2" class="form-control" placeholder="Enter Channel Amount"/>
            <div class="input-group-append">
              <span class="input-group-text">channels</span>
            </div>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-append">
              <span class="input-group-text">My CAS Latency (tCL) is</span>
            </div>
            <input formControlName="tcl" type="text" value="16" class="form-control" placeholder="Enter CL"/>
            <div class="input-group-append">
              <span class="input-group-text">clocks</span>
            </div>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-append">
              <span class="input-group-text">My RAS to CAS Delay (tRCD) is</span>
            </div>
            <input formControlName="trcd" type="text" value="16" class="form-control" placeholder="Enter tRCD"/>
            <div class="input-group-append">
              <span class="input-group-text">clocks</span>
            </div>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-append">
              <span class="input-group-text">My Burst Length (BL) is</span>
            </div>
            <input formControlName="bl" type="text" value="4" class="form-control" placeholder="Enter BL"/>
            <div class="input-group-append">
              <span class="input-group-text">clocks</span>
            </div>
          </div>
        </form>
      </div>
      <div class="row">
        <!-- Output table -->
        <table class="table">
          <tbody>
            <tr>
              <th>{{ speedDisplay }}</th>
              <td>{{ results.speed }} {{ speedDisplay }}</td>
            </tr>
            <tr>
              <th>Memory Pumps</th>
              <td>{{ results.pumps }} T/clock</td>
            </tr>
            <tr>
              <th>T/s</th>
              <td>{{ results.transfers }} T/s</td>
            </tr>
            <tr>
              <th>Channel Width (Bytes)</th>
              <td>{{ results.width }} Bytes</td>
            </tr>
            <tr>
              <th>Bandwidth per channel (Gbps)</th>
              <td>{{ results.channelBandwidth.gigabits }} Gbps</td>
            </tr>
            <tr>
              <th>Bandwidth per channel (GBps)</th>
              <td>{{ results.channelBandwidth.gigabytes }} GBps</td>
            </tr>
            <tr>
              <th>Total Bandwidth (Gbps)</th>
              <td>{{ results.totalBandwidth.gigabits }} Gbps</td>
            </tr>
            <tr>
              <th>Total Bandwidth (GBps)</th>
              <td>{{ results.totalBandwidth.gigabytes }} GBps</td>
            </tr>
            <tr>
              <th>First Word Latency</th>
              <td>{{ results.latency }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Spacing -->
    <div class="col-1"></div>

    <!-- Explanations-->
    <div class="col-8">
      <h4>Obtaining the right values</h4>
      Calculating the speeds of your memory using this tool is fairly simple once you know a few basics.<br />
      In this section, I'll be explaining most of it.<br />
      <br />
      First, let's obtain your memory speed.<br />
      For system memory (often called "RAM"), this is often wrongly labeled as "MHz" instead of the correct "MT/s".<br />
      Eg. DDR4-3600 is often said to be ran at "3600MHz", this however, is false and should be "MT/s".<br />
      When using this calculator either select "MT/s" as your speed or divide by two when selecting "MHz".<br />
      For graphicscard memory, this is almost always listed as MHz.<br />
      Sometimes it is listed as "<i>effective</i> memory speed", in which case, you need to select "MT/s".<br />
      <br />
      Next, let's select your memory type.<br />
      <ul class="pl-3 mb-0">
        <li>When you want to calculate the speeds of your system memory, select "DDR* (System)".</li>
        <li>
          When you want to calculate the speed of your graphicscard's memory, select "GDDR* (Graphicscard)".<br />
          One exception to this is low-end GPUs, as those <i>may</i> use regular DDR instead of GDDR, you can find which memory your GPU uses in the
          <a href="https://www.techpowerup.com/gpu-specs/" target="_blank">TechPowerUp GPU Database</a>.
        </li>
        <li>
          Some high-end GPUs may come with HBM or HBM2, in this case, select "HBM".<br />
          You can find which memory your GPU uses in the
          <a href="https://www.techpowerup.com/gpu-specs/" target="_blank">TechPowerUp GPU Database</a>.
        </li>
      </ul>
      The <a href="https://www.techpowerup.com/gpu-specs/" target="_blank">TechPowerUp GPU Database</a> lists this at the top of the page as shown by <a href="assets/7earnGV.png" target="_blank">this screenshot</a> (using the AMD RX580 as an example).
      <br />
      <br />
      Now let's find your channel width.<br />
      When you want to calculate the speeds of your system memory ("DDR") this is most commonly 64-bits with the exception of DDR5, where this is lowered to 32-bits.<br />
      For GPUs running GDDR-based memory, this can vary a lot, so please find the channel width of your memory in the <a href="https://www.techpowerup.com/gpu-specs/" target="_blank">TechPowerUp GPU Database</a>.<br />
      GPUs that use HBM-based memory often have a channel width of 4096-bits, but please refer to the <a href="https://www.techpowerup.com/gpu-specs/" target="_blank">TechPowerUp GPU Database</a> for accurate numbers on your GPU.
      The <a href="https://www.techpowerup.com/gpu-specs/" target="_blank">TechPowerUp GPU Database</a> lists this at the top of the page as shown by <a href="assets/7earnGV.png" target="_blank">this screenshot</a> (using the AMD RX580 as an example).
      <br />
      <br />
      Next, let's find the amount of channels you're running.<br />
      For system memory, this can vary a lot depending on your configuration, motherboard and CPU.<br />
      <ul>
        <li>Most consumer platforms run 2 ("dual-channel") or 4 when running DDR5.</li>
        <li>Most DDR5-based HEDT or server platforms, you'll need to double the channel count <i>or</i> keep the channel width at 64-bits.</li>
        <li>For GPUs running either GDDR-based memory or HBM-based memory, this is almost always 1 ("single-channel").</li>
      </ul>
      <br />
      Finally, your CAS Latency (tCL), RAS to CAS Delay (tRCD) and Burst Length (BL).<br />
      This is only relevant for DDR* (as the information for this on graphics cards is difficult to find for you) and is often listed on your memory in the following ways:
      <ul class="pl-3 mb-0">
        <li>On the box and modules as: 16-19-19-36 (the first being the tCL and the second being the tRCD)</li>
        <li>(Often) in the product name as: 3600C16 (3600 being the speed in MT/s, 16 indicating the CAS)</li>
        <li>For DDR1 to DDR4, the BL is almost always 4 clocks. For DDR5, this is 8 clocks.</li>
      </ul>
      This is used to calculate the "First Word Latency" (time it takes for the memory to send the first two bytes), the lower this value, the faster your memory is and the less time your CPU has to wait for data.
      <br />
      <br />
      You can find all formulas used in <a href="https://gitlab.com/FinlayDaG33k/ram-calculator/-/blob/master/src/app/app.component.ts#L75" targer="_blank" rel="noopener">the repository</a>.<br />
      If you found this tool to be of any use, please consider leaving a <a href="https://www.finlaydag33k.nl/donate" target="_blank" rel="noopener">donation</a>.
    </div>
  </div>
</div>
